<table class="table">
  <thead>
    <tr>
      <th></th>
      <th>Title</th>
      <th>Opinion</th>
    </tr>
  </thead>
  <tbody>
    <% books.each do |book| %>
      <tr>
        <td>
          <%= link_to image_tag(book.user.get_profile_image(50,50)), user_path(book.user) %>
        </td>
        <td><%= link_to book.title,book %></td>
        <td><%= book.body %></td>
        <td>
            <% if book.favorited_by?(current_user) %>
              <p>
                <%= link_to book_favorites_path(book), method: :delete, class: "favorite_btn" do %>
                <i class="fa-solid fa-heart"></i><%= book.favorites.count %>
                <% end %>
              </p>
            <% else %>
              <p>
                <%= link_to book_favorites_path(book), method: :post, class: "favorite_btn" do %>
                <i class="fa-solid fa-heart "></i><%= book.favorites.count %>
                <% end %>
              </p>
            <% end %>
          </td>
          <td>
            <p>コメント数：<%= book.book_comments.count %></p>
          </td>
      </tr>
    <% end %>
  </tbody>
</table>