<!DOCTYPE html>
<html>
  <head>
    <title>Bookers2</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script src="https://kit.fontawesome.com/69e3de1549.js" crossorigin="anonymous"></script>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'layouts/header' %>

    <main>
      <div>
        <%= flash[:notice] %>
      </div>
      <%= yield %>
    </main>

    <footer>
      <div class="container">
        <div class="row">
          <div class="offset-2 col-8">
            <p class="text-center">CopyRight Infratop.inc</p>
          </div>
          <div class="col-2"></div>
        </div>
      </div>
    </footer>
  </body>
</html>
